{% extends "base.html" %}

{% block content %}
        <h1>Build-A-Blog</h1>
        
        <hr />
        <h3>POSTS:</h3>
        {% if posts|length == 0 %}
            <p>Nothing here yet... Coming soon!</p>
        {% else %}
            <ul>
                {% for post in posts %}
                <li>
                    <a href="/blog?id={{post.id}}">{{post.title}}<a/>
                </li>
                {% endfor %}
            </ul>
        {% endif %}

        <hr/>

        <h4>
            <a href="/post_form">
                Make A New Post
            </a>
        </h4>

{% endblock %}